name: finduo_flutter
description: FinDuo - Control de gastos individual y en pareja
publish_to: "none"

version: 0.1.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  http: ^1.2.0
  fl_chart: ^0.69.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
